<div class="resource-links connect">
    <h5>Connect With Us</h5>
    <ul>
        <li><a id="connectFacebook" href="/connect#facebook"><img src="@Url.Content("~/Content/Images/SocialMedia/20x20-facebook.png")" alt="Facebook" /></a></li>
        <li><a id="connectTwitter" href="/connect#twitter"><img src="@Url.Content("~/Content/Images/SocialMedia/20x20-twitter.png")" alt="Twitter" /></a></li>
        <li><a id="connectFlickr" href="/connect#flickr"><img src="@Url.Content("~/Content/Images/SocialMedia/20x20-flickr.png")" alt="Flickr" /></a></li>
        <li><a id="connectYoutube" href="/connect#youtube"><img src="@Url.Content("~/Content/Images/SocialMedia/20x20-youtube.png")" alt="Youtube" /></a></li>
    </ul>
    <a id="connectAllSocialMedia" href="/connect" class="read-more">View all Social Media</a>
</div>