@using Gov.News.Api.Models

@model IEnumerable<ResourceLink>

@if (Model.Any())
{
    <div class="resource-links">
        <h5>Featured Services</h5>
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Uri">@item.Key</a></li>
            }
        </ul>
    </div>
}
