@using Gov.News.Website.Models;
@using Gov.News.Website.Helpers;
@using Gov.News.Api.Models;
@using Gov.News.WebApp.Extensions

@model List<FacebookPost>

@if(Model.Any())
{
    <div class="feed facebook-feed">
        <h4>On Facebook</h4>
        <div class="feed-content">
            <div class="feed-header">
                <h5><a href="https://www.facebook.com/BCProvincialGovernment">Government of British Columbia</a></h5>
                <a href="https://www.facebook.com/BCProvincialGovernment" class="link-button facebook-like">Like on Facebook</a>
            </div>
            <div class="feed-body">
                @foreach (var post in Model)
                {
                    if (post.PictureUri != null)
                    {
                        <a href="@post.Key"><img src="@post.PictureUri.ToUri().ToProxyUrl()" /></a>
                    }
                    @AssetHelper.ConvertUrlsToLinks(post.Content).AsHtmlParagraphs()
                }
            </div>
        </div>
    </div>
}