@using Gov.News.Website.Models
@using Gov.News.Api.Models
@using Gov.News.Website.Helpers
@model BaseViewModel

<div class="connect">
    <div class="home-body" style="width:100%;">
        <h3>Live</h3>
        <div id="body" style="padding-bottom: 20px; max-width: 768px; margin: 0 auto;" align="center">

            <script type="text/javascript" src="~/Scripts/media-assets.js"></script>
            <vc:web-cast/>

            <script type="text/javascript">
                $(document).ready(function () {
                    initializeEmbeddedMediaPlaceholders();
                    resizeEmbeddedMediaAssets();
                    $(document).on("click", ".asset .placeholder-container .overlay-container .outer .inner .play-button", function () {
                        playMedia(this, false);
                    });
                    $(document).on("click", ".asset .placeholder-container .overlay-container .outer .inner .play-instructions .save-preference", function () {
                        playMedia(this, true);
                    });
                    $(document).on("click", ".asset .placeholder-container .overlay-container .outer .inner .play-instructions .play-close a", function () {
                        closeInstructions(this);
                    });
                    $(window).resize(function () {
                        resizeEmbeddedMediaAssets();
                    });
                });
            </script>

        </div>
    </div>

</div>

<div class="clear"></div>
